.body {
  background-color: white;
  font-family: Georgia;
}
.container {
  height: 1000px;
}
.heading{
  text-align: center;
  padding-top: 30px;
  font-size: 50px;
  font-family: Arial;
  font-weight: bold;
  padding-bottom: 50px;
}
.user{
  text-align: center;
  padding: 20px;
}
h1{
  text-align: center;
}

div.newpost input.sub{
  background-color:#95bddc;
  border: none;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.newpost{
  text-align: center;
}
.comments{
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
}

.comment {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
}
.no-comments {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;

}

div.addcomment a:link.newcomm, div.addcomment a:visited.newcomm {
  background-color: #95bddc;
  color: white;
  padding: 14px 25px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}
div.addcomment a:hover.newcomm, div.addcomment a:active.newcomm {
  background-color: #95bddc;
  border-radius: 5px;
}

.addcomment{
  text-align: center;
  padding-bottom: 10px;
  border-radius: 5px;
}

.posttext{
  padding: 10px;
  text-align: center;
}

.postimg{
  padding: 10px;
  text-align: center;
  border-radius:5px;
}
.postmod{
  text-align: center;
}
.navbar-nav {
  text-align: center;
  list-style-position: inside;
}

div a:link.hi, div a:visited.hi {
  background-color: #fb4c1f;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
}

.delete , .likes {
  display:inline-block;
}

.delete{
  padding: 10px 4px;
}

#like{
  background-color:#95bddc;
  color: white;
  width: 75px;
  height: 50px;
  border-radius: 5px;
  border: 0;
}
#like:focus {
  background-color: #c2d1e5;
}

#dislike{
  padding: 10px 4px;
  background-color: #f44336;
  color: white;
  width: 75px;
  height: 50px;
  border-radius: 5px;
  border: 0;
}
#dislike:focus {
  background-color: #fe793d;
}

.numlikes{
  text-align: center;
}
.likes2{
  text-align: center;
  padding: 10px;
}

div a:hover.hi, div a:active.hi {
  background-color: #fb4c1f;
}


.hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}

  * {box-sizing:border-box}
 html, body {
    width: 100%;
    height: 110%;
    margin: 0;
    padding: 0;
}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    max-height: 1000px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  /* Change the link color on hover */
    li a:hover {
    background-color: #555;
    color: white;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: rgb(53, 59, 63);
  }
  .nav-link{
    background-color: #333;
}

.hello-msg:hover {
    background-color: #333;
    color: #f2f2f2;
    padding: 6px 1  px;
    text-decoration: none; 
}
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* footer */ 
  .footer {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    padding-top: 100px;
  }
  .footerText {
    font-size: 15px;
  }





/* Navigation bar */
.navbar-nav {
  list-style-type: none;
  margin: 0;
  font-weight: bold;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

li {
  float: left;
  border-right:1px solid #333;
  width: 175px;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


/* gallery */
.penn-img {
  width: 100%;
  height: 600px;
}

/* No Posts View */
.no-posts {
  display: block;
  text-align: center;
  font-size: 40px;
  padding-top: 300px;
  font-family: Arial;
}
/* Create a Post */
.caption {
  display:inline-block;
}
.photo-add {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 25px;
}
.photo-submit {
  display: flex;
  text-align: center;
  margin-left: 75px;
  justify-content: center;
}
.submit {
  display:flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* imagePost */
.img-responsive {
  height: 600px;
  width: 400px;
}

/* Add Comment */
.submit-comment {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
}

.submit-button {
  display: flex;
  flex: 0.05;
  width: 100px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  background-color:#95bddc;
  color: white;
  border: 0;
  border-radius: 5px;
}
