
.heading{
  text-align: center;
  padding: 20px
}
.user{
  text-align: center;
  padding: 20px;
}
h1{
  text-align: center;
}

div.newpost input.sub{
  background-color:lightblue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.newpost{
  text-align: center;
}
.comments{
  text-align: center;
  background-color: gray;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding: 20px;

}
div.addcomment a:link.newcomm, div.addcomment a:visited.newcomm {
  background-color: lightblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
div.addcomment a:hover.newcomm, div.addcomment a:active.newcomm {
  background-color: lightblue;
}

.addcomment{
  text-align: center;
  padding: 10px;
}

.posttext{
  padding: 10px;
  text-align: center;
}

.postimg{
  padding: 10px;
  text-align: center;
  border-radius:5px
}
.postmod{
  text-align: center;
}
ul {
  text-align: center;
  list-style-position: inside;
}

div a:link.hi, div a:visited.hi {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.delete , .likes {
  display:inline-block;
}

.delete{
  padding: 10px 4px;
}

#like{
  background-color: green;
  color: white;
  width: 75px;
  height: 50px;
  border-radius: 5px;
  
}

#dislike{
  padding: 10px 4px;
  background-color: #f44336;
  color: white;
  width: 75px;
  height: 50px;
  border-radius: 5px;
}

.numlikes{
  text-align: center;
}
.likes2{
  text-align: center;
  padding: 10px;
}

div a:hover.hi, div a:active.hi {
  background-color: red;
}



.hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
  * {box-sizing:border-box}
 html, body {
    width: 100%;
    height: 110%;
    margin: 0;
    padding: 0;
}
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    max-height: 1000px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }
  /* Change the link color on hover */
    li a:hover {
    background-color: #555;
    color: white;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .nav-link{
    background-color: rgb(53, 59, 63)
}

.hello-msg:hover {
    background-color: #555;
    color: #f2f2f2;
    padding: 6px 1  px;
    text-decoration: none; 
}
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  .footer {
    text-align: center;
    position: absolute;
    width: 100%;
  }


