{% extends 'accounts/main.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
{% block content %}
    <div class="heading"> 
        New Comment 
    </div>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class = "addcomment">
            {{ form.as_p }}
        </div>
        <div class = "submit-comment">
            <button type="submit" class="submit-button"> Add </button>
        </div>
    </form>


{% endblock content%}