{% extends 'accounts/main.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
{% block content %}
    <div class = "heading">
        <h2> Feed </h2>
    </div>
    {% for i in post %}
        <div class="postimg">
            {% if i.post_pic %}
                <img class = "img-responsive" src="{{i.post_pic.url}}">
            {% endif %}
        </div>
        <div class="posttext">
            <b> {{i.user}}: </b> {{i.content}}
        </div>
        <div class = "numlikes">
            <strong> {{i.liked.all.count}} Likes</strong>
        </div>
        <div class = "likes2">
            <form action = "{% url 'like_post' %}" method = "POST" class = "ui form">
                {% csrf_token %} 
                <input type = 'hidden' name = 'post_id' value = "{{i.id}}">
                {% if user not in i.liked.all %}
                        <button type = "submit" class = "ui button positive" id = "like"> Like </button>
                {% else %}
                        <button type = "submit" class = "ui button negative" id = "dislike"> Dislike </button>
                {% endif %}
            </form>
        </div>
        <div class = "comments">
            <p> Comments: </p>
            <ul>
            {% for comment in i.comments.all %}
                <div class="comment">
                    <li><strong>{{ comment.user }}: </strong> {{ comment.text}}</li>
                </div>
                {% empty %}
                    <p>No comments here yet!</p>
            {% endfor %}
            </ul>
        </div>
        <div class = "addcomment">
            <a class = "newcomm" href="{% url 'add_comment_to_post' pk=i.pk %}">Add comment</a>
        </div>
    {% endfor %}

{% endblock%}
